{% extends "app/layout.html" %}

{% block content %}
  {% if form %}
<br>
<h2>Отправьте пожалуйста заполненную анкету</h2>
<br>
<div>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
        {{ form.name}}<br><br>
        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label>
        {{form.city }}<br>
        <label for="{{form.gender.id_for_label}}">{{ form.gender.label }}:</label>
        {{form.gender }}
        <label for="{{form.job.id_for_label }}">{{ form.job.label }}:</label><br>
        {{form.job }}<br><br>
        <label for="{{ form.internet.id_for_label }}">{{ form.internet.label }}:</label><br>
        {{form.internet }}<br><br>
        <label for="{{form.notice.id_for_label }}">{{ form.notice.label }}:</label>
        {{form.notice }}<br><br>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        {{form.email }}<br><br>
        <label for="{{ form.message.id_for_label }}">{{ form.message.label }}:</label><br>
        {{ form.message }}<br><br>
        <input type="submit" id="submit-btn" value="Отправить">
    </form>

    <script>
        var submitBtn = document.getElementById("submit-btn");
        var form = document.querySelector("form");
        var inputFields = form.getElementsByTagName("input");

        submitBtn.addEventListener("mouseover", function () {
            submitBtn.style.color = "red";
        });

        submitBtn.addEventListener("mouseout", function () {
            submitBtn.style.color = "";
        });

        for (var i = 0; i < inputFields.length; i++) {
            inputFields[i].addEventListener("focus", function () {
                this.style.backgroundColor = "lightblue";
            });

            inputFields[i].addEventListener("blur", function () {
                this.style.backgroundColor = "";
            });
        }
    </script>
    </div>
    {% else %}
    <br>
    <h2>Благодарим за предоставленную информацию! </h2>
    <h3>Вы сообщили о себе следующее: </h3>>
    <ul>
        <li><span>Имя:</span> {{ data.name}}</li>
        <li><span>Гopoд: </span> {{ data.city }}</li>
        <li><span>Пoл:</span> {{ data.gender }}</li>
        <li><span>Paбoтa: </span> {{ data.job }}</li>
        <li><span>В интернетe: </span> {{ data.internet }}</li>
        <li><span>Получать новости сайта на e-mail:</span> {{ data.notice }}</li>
        <li><span>Baw e-mail: </span> {{ data.email }}</li>
        <li><span>Инoopмачия о себе:</span> {{ data.message }}</li>
    </ul>
    {% endif %}
    {% endblock %}
